.App {
  margin: 0 auto;
  background-color: darkcyan;
  max-width: 960px;
}
.App-header {
  text-align: center;
}
.app-logo {
  height: 300px;
  width: 300px;
}
.footer {
  margin-top: 10px;
  padding: 10px 0 40px 0;
  text-align: center;
}
