h2 {
  font-size: 40px;
  line-height: 1;
}
h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}
section {
  background-color: #f1f1f2;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  padding: 25px;
}
.searchForm {
  display: flex;
  flex-direction: column;
}
.Dictionary input {
  width: 100%;
  padding: 10px;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.examples {
  font-style: italic;
  margin: 5px 0;
  opacity: 0.6;
}
