.Phonetics {
  line-height: 2;
}
.phonetic-sound {
  border-radius: 25px;
  padding: 15px;
  font-size: 15px 15px;
  background-color: powderblue;
  margin-left: 15px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}
.phonetic-text {
  opacity: 0.7;
  font-weight: bold;
  font-size: 18px;
}
.phonetic-sound:hover {
  background: darkblue;
  color: powderblue;
}
